.ui-header .ui-title, .ui-footer .ui-title {
margin-left: 0;
margin-right: 0;
text-overflow:visible
}

.you-are {float:right; margin:0 5px}
.you-are img {width:26px; height: 26px;vertical-align:bottom}

.priv-game-url{text-align:center}

/* Default style for the board */
.c4area {width:520px; margin: 0 auto}
.c4board {background-color:blue; padding: 10px;border-radius:25px;border-color:0.5px solid white}
#c4drops {padding: 3px 15px}
div.c4drop {float:left;text-align: center;width:70px}
button.c4drop{text-align:center}
.lastdrop{clear:both;height:0px;visibility:hidden}
.c4row {clear: both}
.c4cell {float:left;padding: 6px;width:58px}
.c4cellimg {width:58px;height:58px;background-size:cover}
.c4cellimg {background-image:url(../images/piece0_medium.png);}
.c4cellimg.piece1 {background-image:url(../images/piece1_medium.png);}
.c4cellimg.piece2 {background-image:url(../images/piece2_medium.png);}

div.c4drop .ui-btn-inner{padding-left:0;padding-right:0}

/* 8x7 board 520 - 2x8 = 504 = 8x63 = 8 x (55 + 2x4) */
.board8x7 .c4board { padding: 8px}
.board8x7 .c4cell, .board8x7 div.c4drop, .board8x7 .c4cellimg { width:55px}
.board8x7 .c4cell, .board8x7 .c4cellimg {height:55px}
.board8x7 #c4drops,.board8x7 .c4cell,.board8x7 div.c4drop{padding: 4px}

/* 9x7 board 520 - 2x8 = 504 = 9x56 = 9x(52+2x2) */
.board9x7 .c4board { padding: 8px}
.board9x7 .c4cell, .board9x7 div.c4drop, .board9x7 .c4cellimg { width:52px}
.board9x7 .c4cell, .board9x7 .c4cellimg {height:52px}
.board9x7 #c4drops,.board9x7 .c4cell,.board9x7 div.c4drop{padding: 2px}

/* 10x7 board 520 - 2x5 = 510 = 10x51 = 8x(47+2x2) */
.board10x7 .c4board { padding: 5px}
.board10x7 .c4cell, .board10x7 div.c4drop, .board10x7 .c4cellimg { width:47px}
.board10x7 .c4cell, .board10x7 .c4cellimg {height:47px}
.board10x7 #c4drops,.board10x7 .c4cell,.board10x7 div.c4drop{padding: 2px}


/* Tiny Layout */
@media all and (max-width: 450px), all and (max-height:450px) {
.c4area{width:288px}
#c4drops{padding:1px 4px}
.c4board { padding:4px }
.c4cell, div.c4drop, .c4cellimg { width:36px}
#c4drops, .c4cell, div.c4drop{padding: 2px}
.c4cell, .c4cellimg {height:36px}
.c4cellimg{background-image:url(../images/piece0_small.png)}
.c4cellimg.piece1{background-image:url(../images/piece1_small.png)}
.c4cellimg.piece2{background-image:url(../images/piece2_small.png)}

/* 8x7 board 288-2x4 = 280  = 8x35 = 8 x (31 + 2x2) */
.board8x7 .c4board {padding:4px}
.board8x7 .c4cell, .board8x7 div.c4drop, .board8x7 .c4cellimg { width:31px}
.board8x7 .c4cell, .board8x7 .c4cellimg {height:31px}
.board8x7 #c4drops,.board8x7 .c4cell,.board8x7 div.c4drop{padding: 2px}

/* 9x7 board 288-2x4.5 = 279 = 9x31 = 9x(29+2x1) */
.board9x7 .c4board {padding:4.5px}
.board9x7 .c4cell, .board9x7 div.c4drop, .board9x7 .c4cellimg { width:29px}
.board9x7 .c4cell, .board9x7 .c4cellimg {height:29px}
.board9x7 #c4drops,.board9x7 .c4cell,.board9x7 div.c4drop{padding: 1px}

/* 10x7 board 288-2x4 = 280  = 10x28 = 10x(26+2x1) */
.board10x7 .c4board {padding:4px}
.board10x7 .c4cell, .board10x7 div.c4drop, .board10x7 .c4cellimg { width:26px}
.board10x7 .c4cell, .board10x7 .c4cellimg {height:26px}
.board10x7 #c4drops,.board10x7 .c4cell,.board10x7 div.c4drop{padding: 1px}

}

/* Small Layout */
@media  all and (min-width: 451px) and (min-height:451px) and (max-width: 540px), 
	all and (min-width: 451px) and (min-height:451px) and (max-height:540px) {
.c4area{width:440px}
#c4drops{padding:2px 4px}
.c4board { padding:10px }
.c4cell, div.c4drop, .c4cellimg { width:48px}
 #c4drops, .c4cell, div.c4drop{padding: 6px}
.c4cell, .c4cellimg {height:48px}
.c4cellimg{background-image:url(../images/piece0_small.png)}
.c4cellimg.piece1 {background-image:url(../images/piece1_small.png)}
.c4cellimg.piece2 {background-image:url(../images/piece2_small.png)}

/* 8x7 board 440-2x4 = 432 = 8x54 = 8 x (46 + 2x4) */
.board8x7 .c4board {padding:4px}
.board8x7 .c4cell, .board8x7 div.c4drop, .board8x7 .c4cellimg { width:46px}
.board8x7 .c4cell, .board8x7 .c4cellimg {height:46px}
.board8x7 #c4drops,.board8x7 .c4cell,.board8x7 div.c4drop{padding: 4px}

/* 9x7 board 440-2x4 = 432 = 9x48 = 9x(44+2x2) */
.board9x7 .c4board {padding:4px}
.board9x7 .c4cell, .board9x7 div.c4drop, .board9x7 .c4cellimg { width:44px}
.board9x7 .c4cell, .board9x7 .c4cellimg {height:44px}
.board9x7 #c4drops,.board9x7 .c4cell,.board9x7 div.c4drop{padding: 2px}

/* 10x7 board 440-2x5 = 430  = 10x43 = 10x(41+2x1) */
.board10x7 .c4board {padding:5px}
.board10x7 .c4cell, .board10x7 div.c4drop, .board10x7 .c4cellimg { width:41px}
.board10x7 .c4cell, .board10x7 .c4cellimg {height:41px}
.board10x7 #c4drops,.board10x7 .c4cell,.board10x7 div.c4drop{padding: 1px}
}

/* Large Layout */
@media all and (min-width:751px) and (min-height: 751px) {
.c4area{width:740px}
#c4drops{padding:4px 20px}
.c4board { padding:20px }
.c4cell, div.c4drop, .c4cellimg { width:80px}
 #c4drops, .c4cell, div.c4drop{padding:10px}
.c4cell, .c4cellimg {height:80px}
.c4cellimg.piece0 {background-image:url(../images/piece0_large.png)}
.c4cellimg.piece1 {background-image:url(../images/piece1_large.png)}
.c4cellimg.piece2 {background-image:url(../images/piece2_large.png)}

/* 8x7 board 740-2x10 = 720 = 8x90 = 8x(70+2x10) */
.board8x7 .c4board {padding:10px}
.board8x7 .c4cell, .board8x7 div.c4drop, .board8x7 .c4cellimg { width:70px}
.board8x7 .c4cell, .board8x7 .c4cellimg {height:70px}
.board8x7 #c4drops,.board8x7 .c4cell,.board8x7 div.c4drop{padding: 10px}

/* 9x7 board 740-2x10 = 720 = 9x80 = 9x(60+2x10) */
.board9x7 .c4board {padding:10px}
.board9x7 .c4cell, .board9x7 div.c4drop, .board9x7 .c4cellimg { width:60px}
.board9x7 .c4cell, .board9x7 .c4cellimg {height:60px}
.board9x7 #c4drops,.board9x7 .c4cell,.board9x7 div.c4drop{padding: 10px}

/* 10x7 board 740-2x10 = 720  = 10x72 = 10x(52+2x10) */
.board10x7 .c4board {padding:10px}
.board10x7 .c4cell, .board10x7 div.c4drop, .board10x7 .c4cellimg { width:52px}
.board10x7 .c4cell, .board10x7 .c4cellimg {height:52px}
.board10x7 #c4drops,.board10x7 .c4cell,.board10x7 div.c4drop{padding: 10px}
}

